.cardFiltred {

    width: 20em;
    height: 18em;
    margin: 1em auto;
    padding: 1em;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 8px;



}

.cardFiltred .nomDeLaVille {
    font-size: 40px;
}