.listNav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.listNav>h1 {
    height: auto;
    text-align: center;
}

.listNav>a {
    height: auto;
    width: 25%;
    text-align: center;
}

.navbar {
    height: 7em;
    width: 100%;
    background: rgba(130, 122, 122, 0.99);
}

.NAVLINK {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
}

.titreNavbar {
    font-family: 'Inter', sans-serif;
}


h1.titreNavbar {
    letter-spacing: 15px;
}